@import url("normalize.css");

html {
	background: #333;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.hexagon {
  fill: #332;
  stroke: #ff3;
  stroke-width: .5px;
}

#app-header {
	/* Create patterned image look using gradient */
	background-image: linear-gradient(45deg, rgb(12, 12, 12) 25%, rgb(33, 33, 33) 25%, 
		rgb(33, 33, 33) 50%, rgb(12, 12, 12) 50%, rgb(12, 12, 12) 75%, rgb(33, 33, 33) 75%,
		rgb(33, 33, 33));
	background-size: 8px 8px;
	border-bottom: 1px solid #000;
	height: 15%;
	padding: 40px 30px 30px 30px;

} 

h2 {
	margin: 0;
	padding:0;
	color: #Fff;
	font-weight: normal;
	text-align: center;
}

#app-header input {
	width: 100%;
	box-sizing: border-box;
}

#image-tiles {
	backround: #111;
	padding: 0.5em;
	margin: 0;
	transition: all 1s ease;
}

.tile {
	width: 250px;
	height: 250px;
	overflow: hidden;
transition: all 1s ease;
	display:inline-block;
}

/**
 * Input styles
 */
 input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    height:15px;
    opacity: .75;
    margin-bottom: 20px;
}

input[type=range]:focus {
	outline-width: 0;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #fff;
    width: 24px;
    height: 48px;
    border-radius: 50px;
}


/**
 * Map styles
 */
#grid {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 1em;
}
#map {
	height: 60%;
	width: 95%;
	bottom: 1em;
	position: absolute;
}
#info {
	height: 200px;
}
#info_pane {
    background-color: #aaa;
	position: relative;
	float:  right;
	right:  1em;
	width:  30%;
	height: 800px;
	padding: 1em;
	
	border: 2px solid;
	border-color: #444;
    border-radius: 5px;
}

#info_pane h3 {
	
  font-family: Helvetica, Arial, Sans-Serif;
}